html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: url('https://img.freepik.com/premium-photo/dark-velvet-enchantment-luxury-background-with-gradient-textured-matte-colors_555090-4086.jpg') no-repeat center center fixed;
    background-size: cover,cover;
    color: #bd0081;
    overflow-x: hidden;
    cursor: none;
    
}

.container {
    text-align: justify;
    padding: 50px;
}

h1 {
    font-size: 3em;
    margin-bottom: 1.5em;
    animation: fadeIn 2s ease-in;
}

.menu {
    margin: 20px 0;
}
div {
    padding: 10px;
    border: 2px solid #ff00bf;
  }

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: inherit;
    font-size: 1.5em;
    transition: color 1.25s ease-in-out;
}

.menu a:hover {
    color: #ffffff;
}

.spotlight {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border-radius: 80%;
    pointer-events: none;
    mix-blend-mode: color-dodge;
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(77, 2, 2) 60%);
    transition: transform 0.1s ease;
    z-index: 1000;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.artwork {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    transition: transform 0.3s;
}

.artwork:hover {
    animation: scaleUp 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

.return-button {
    background-color: #aa045f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
}
